<div class="container">
    <form>
        <div class="col-sm-10">
          <label for="exampleInputEmail1" class="form-label">Nombre</label>
          <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Nombre" aria-describedby="emailHelp">
        </div>
        <div class="col-sm-10">
          <label for="exampleInputPassword1" class="form-label">Identificación</label>
          <input type="text" class="form-control" id="exampleInputPassword1"placeholder="Identificación">
        </div>
        
      </form>
      <div class="modal-footer">
        <button type="submit" class="btn btn-primary">Guardar</button>
      </div>
</div>

