<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link
    href="https://fonts.googleapis.com/css2?family=Nuosu+SIL&family=Poppins:wght@100&family=Rubik:wght@300&family=Work+Sans:wght@100&display=swap"
    rel="stylesheet">
<link
    href="https://fonts.googleapis.com/css2?family=Nuosu+SIL&family=Poppins:wght@100&family=Prompt:wght@500&family=Rubik:wght@300&family=Work+Sans:wght@100&display=swap"
    rel="stylesheet">
<app-presentacion></app-presentacion>
<router-outlet></router-outlet>