<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link
    href="https://fonts.googleapis.com/css2?family=Nuosu+SIL&family=Poppins:wght@100&family=Rubik:wght@300&family=Work+Sans:wght@100&display=swap"
    rel="stylesheet">
<link
    href="https://fonts.googleapis.com/css2?family=Nuosu+SIL&family=Poppins:wght@100&family=Prompt:wght@500&family=Rubik:wght@300&family=Work+Sans:wght@100&display=swap"
    rel="stylesheet">
<div class="container-sm position-absolute">
    <h3>
        Generación y<br> composicion de los <br>Residuos Solidos <br>Ordinarios
    </h3>
    <article>
        <p>Este proyecto está dedicado a la unidad ambiental,<br>
            en el marco del proyecto “Estudio de Generación y<br>
            Composición de los residuos sólidos ordinarios en el<br>
            comercio del casco urbano del cantón central de <b>Limón</b> ”<br>
            Coherente con la misión, visión, principios y valores,<br>
            considera como factores de gran importancia el cuidado<br>
            de nuestro medio ambiente y la responsabilidad<br>
            social.</p>
    </article>
</div>
<div class="position-absolute bottom-0 end-0" id="imagen">
   
    <img src="../../../assets/Gestion_Residuos.png" class="rounded mx-auto d-block top-50" width="200px" height="300px"
            alt="">
            <div class="d-grid gap-2 col-6 mx-auto">
                <button type="button" class="btn btn-primary" href="#">Ingresar al sistema</button>
                
            </div>
</div>