<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #e3f2fd;">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img src="../../../assets/logo.png" alt="logo" width="120px">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Inicio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link"[routerLink]="['./agregar']">Nuevo Negocio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link"[routerLink]="['./nosotros']">Nosotros</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            Categorias
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" [routerLink]="['./agricultura']">Agricultura</a></li>
            <li><a class="dropdown-item" href="#">Ganaderia</a></li>
            <li><a class="dropdown-item" href="#">Elaboración de productos alimenticios</a></li>
            <li><a class="dropdown-item" href="#">Elaboración de productos textiles</a></li>
            <li><a class="dropdown-item" href="#">Producción de madera (Aserraderos)</a></li>
            <li><a class="dropdown-item" href="#">Venta de vehículos</a></li>
            <li><a class="dropdown-item" href="#">Mantenimiento de vehículos (taller, llantera)</a></li>
            <li><a class="dropdown-item" href="#">Lavacar</a></li>
            <li><a class="dropdown-item" href="#">Venta de respuestos de vehículos</a></li>
            <li><a class="dropdown-item" href="#">Venta de alimentos</a></li>
            <li><a class="dropdown-item" href="#">Venta de maquinaria agropecuaria</a></li>
            <li><a class="dropdown-item" href="#">Venta de electrónicos y electrodomésticos</a></li>
            <li><a class="dropdown-item" href="#">Ferretería</a></li>
            <li><a class="dropdown-item" href="#">Supermercado</a></li>
            <li><a class="dropdown-item" href="#">Tienda por departamentos</a></li>
            <li><a class="dropdown-item" href="#">Bazares</a></li>
            <li><a class="dropdown-item" href="#">Carnicería</a></li>
            <li><a class="dropdown-item" href="#">Verdurería</a></li>
            <li><a class="dropdown-item" href="#">Pulperías</a></li>
            <li><a class="dropdown-item" href="#">Librerías</a></li>
            <li><a class="dropdown-item" href="#">Farmacias</a></li>
            <li><a class="dropdown-item" href="#">Puesto de mercado</a></li>
            <li><a class="dropdown-item" href="#">Servicio de mensajería</a></li>
            <li><a class="dropdown-item" href="#">Servicio de transportes</a></li>
            <li><a class="dropdown-item" href="#">Servicios Bancarios</a></li>
            <li><a class="dropdown-item" href="#">Agencias aduanales</a></li>
            <li><a class="dropdown-item" href="#">Oficina del sector público</a></li>
          </ul>
        </li>
      </ul>
      <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
  
</nav>
